* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* .family {
  font-size: 18px;
  font-style: oblique;
  font-weight: 500;
  color: red;
  text-align: left;
  width: 500px;
  margin: 0px auto;
  text-decoration: underline;
  /* text-shadow: 5px 10px 3px blue; 
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
} */

/* ------------------- */
body {
  background-color: black;
  color: #fff;
}
header {
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  padding: 18px 0px 20px 0px;
}

.foto {
  margin: 50px auto;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.foto img {
  max-width: 100%;
}
.services {
  margin: 0px auto;
  width: 300px;
}

.services h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
  text-align: center;
}
.services h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.services ul {
  font-size: 18px;
  margin: 20px 0px 0px 0px;
}
.services li {
  margin: 0px 0px 10px 0px;
  border-bottom: 1px;
  border-color: #fff;
  border-style: solid;
  padding: 0px 0px 10px 0px;
}
footer {
  margin: 50px auto;
  width: 300px;
}

footer p {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

a {
  display: block;

  font-size: 15px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500px;
  padding: 10px 0px 0px 0px;
  text-decoration: underline;
  font-weight: 600px;
}
